#errorCatch{
    display: flex;
    justify-content: center;
    background: red;
    font-size: 2rem;
    font-family: Inter, sans-serif;
}

#errorCatchCity{
    width: 15rem;
    display: flex;
    justify-content: center;
    background: red;
    font-size: 2rem;
    font-family: Inter, sans-serif;
    border-radius: 20px;
    margin: 1rem;
    padding:0.5rem;
}