.inputCity{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.openCityForm{
    width: 40%;
    align-items: center;
    border: solid 3px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}